@charset "UTF-8";

#main h2 {
	margin-top: 0;
	padding: 12px 10px;
	background: #3B943B;
	color: #FFF;
	border-radius: 5px;
}
#main h3 {
	background: #A64242;
	background: -webkit-linear-gradient(top, #C87575, #BC5656 50%, #A64242 50%, #873636); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, #C87575, #BC5656 50%, #A64242 50%, #873636); /* W3C */
	padding: 12px 10px;
	color: #FFF;
	border-radius: 5px;
	text-shadow: 1px 1px 2px #333;
	box-shadow: inset 0 0 50px rgba(0,0,0, 0.1);
	font-size: 93%;
}

#profile .profileContents table {
	width: 100%;
	margin: 1em 0;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	font-size: 100%;
}
#profile .profileContents table th {
	padding: 6px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background: #FFE3E3;
	font-weight: normal;
}
#profile .profileContents table td {
	padding: 6px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background: #FFF;
}

#works {}
#works #searchForm {
	margin-bottom: 20px;
}
#works article {
	margin-bottom: 1em;
	border: 1px solid #CCC;
	border-radius: 5px;
}
#works article h3 {
	margin: 0;
}
#works article h3 a {
	color: #FFF;
}
#works article h3 a:hover {
	text-decoration: none;
}
#works article p {
	padding: 0 1em;
}
#works p {
	font-size: 88%;
}
#works h4 {
	background: #A64242; 
	margin-bottom: 1.5em;
	padding: 12px 10px;
	color: #FFF;
	text-shadow: 1px 1px 2px #333;
	position: relative;
	border-radius: 5px;
	border-left: 1px solid #036;
	border-top: 1px solid #036;
	box-shadow: inset 1px 1px 4px #592424;
}
#works h4:before {
	content: ' ';
	position: absolute;
	z-index: 2;
	width: 0;
	height: 0;
	left: 14px;
	bottom: -27px;
	background: transparent;
	border-color: #A64242 transparent transparent transparent;
	border-style: solid;
	border-width: 15px;
}
#works .download {
	display: inline-block;
	padding: 10px 30px;
	background: #fff;
	border: 3px solid #ccc;
}
#works a.download:hover {
	background: #62b0ff;
	color: #fff;
	border: 3px solid #62b0ff;
}

#works .frame-wrapper__video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

#works .frame-wrapper__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#link {
	padding-bottom: 1rem;
}
#link #contents p:first-of-type {
	-webkit-font-feature-settings: "palt" 1;
	font-feature-settings: "palt" 1;
}
#link .notice {
	font-weight: bold;
	-webkit-font-feature-settings: "pkna" 1;
	font-feature-settings: "pkna" 1;
}
#link .category_title {
	padding: 6px;
	background-color: #A64242;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
#link li span {
	-webkit-font-feature-settings: "palt" 1;
	font-feature-settings: "palt" 1;
}